<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <targets>
        <!-- Логирование в PostgreSQL -->
        <target
          name="postgresql"
          xsi:type="Database"
          commandType="StoredProcedure"
          dbProvider="Npgsql.NpgsqlConnection, Npgsql">

            <!-- Строка подключения к PostgreSQL -->
            <connectionString>Host=localhost:5433;Password=*****;Persist Security Info=True;Username=postgres;Database=postgres</connectionString>

            <!-- SQL-запрос для вставки логов -->
            <commandText>
                INSERT INTO Logs (level, message, exception, request_method, request_path, request_body, response_status, response_body)
                VALUES (@level, @message, @exception, @request_method, @request_path, @request_body, @response_status, @response_body);
            </commandText>

            <!-- Параметры для подстановки в запрос -->
            <!-- Параметры timestamp в БД имеются, им вытавляется автозначение CURRENT_TIMESTAMP -->
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@exception" layout="${exception:format=ToString}" />
            <parameter name="@request_method" layout="${event-properties:item=RequestMethod}" />
            <parameter name="@request_path" layout="${event-properties:item=RequestPath}" />
            <parameter name="@request_body" layout="${event-properties:item=RequestBody}" />
            <parameter name="@response_status" layout="${event-properties:item=ResponseStatus}" />
            <parameter name="@response_body" layout="${event-properties:item=ResponseBody}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="postgresql" />
    </rules>
</nlog>