<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <targets>
        <!-- Логирование в PostgreSQL -->
        <target
          name="postgresql"
          xsi:type="Database"
          dbProvider="Npgsql.NpgsqlConnection, Npgsql"
          connectionString="Host=127.0.0.1:5433;Password=*****;Persist Security Info=True;Username=postgres;Database=postgres">

            <!-- Таблица для логов была создана вне миграции.
            SQL-запрос для вставки логов -->
            <commandText>
                INSERT INTO "Logs" ("level", "message")
                VALUES (@level, @message);
            </commandText>

            <!-- Параметры для подстановки в запрос
            Параметр @timestamp в БД имеется, ему вытавляется функция CURRENT_TIMESTAMP по дефолту-->
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="postgresql" />
    </rules>
</nlog>